<div class="container">
  <div class="row qc-checks">
    <table class="table center col-md-12 center">
      <thead>
        <tr>
          <th>Thumbnail</th>
          <th>Alt Text</th>
          <th>Page URL</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="thumbnail">
            <img src="http://placehold.it/2000x1200&text=Hero+Image">
          </td>
          <td>
            <p>Here is the Alt Text</p>
          </td>
          <td>
            <p>https://google.com</p>
          </td>
        </tr>
        <tr>
            <td class="thumbnail">
              <img src="http://placehold.it/2000x1200&text=Hero+Image">
            </td>
            <td>
              <p>Here is the Alt Text</p>
            </td>
            <td>
              <p>https://google.com</p>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>